<div class="container">
    <h3 class="text-center">Sign up for our newsletter</h3>
    <%= form_for "/subscribers" do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <% end %>
</div>